.articles-viewer {
    .slick-next {
        background-image: url('../../images/arrow-next.svg');
        background-repeat: no-repeat
    }
    .slick-prev {
        background-image: url('../../images/arrow-prev.svg');
        background-repeat: no-repeat
    }
}