@import '../../../style/media-queries.scss';

@mixin article-mobile-view {     
    width: 100%;
    .article {
        padding: 40px 40px 0 40px;
        background-image: none;
        border-top: 2px solid #FFE8FD;
        box-shadow: 0px -20px 20px #FEFAFF;
        border-radius: 25px;
        height: auto;
        .article-text {
            font-size: 17px;
            line-height: 38px;
        }
    }
    .row {
        width: 100%;
        margin: 70px auto 24px;
        .article-title {
            font-size: 22px;
        }
        .love {
            font-size: 18px;
            .love-img {}
        }
    }
    .qute-img {
        width: 80px;
        height: 80px;
    }
    .left {
        margin-left: 40px;
        .profile-img {
            width: 50px;
            height: 50px;
        }
        .writer {
            margin-left: 15px;
            .name {
                font-size: 20px;
                line-height: 27px;
            }
            .address {
                margin-top: 0;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .contact-btn {
        width: 100px;
        margin-right: 40px;
        padding: 7px 0;
        height: 28px;
        font-size: 19px;
    }
}

.article-box {
    width: 80%;
    margin: 50px auto 0;
    .article {
        background-size: cover;
        background-image: url('../../../images/article-border.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 478px;
        margin: -50px auto 0;
        padding: 50px 60px;
        .article-text {
            margin-top: 26px;
            font-size: 20px;
            line-height: 44px; 
        }
    }
    .row {
        display: flex;
        width: 90%;
        margin: 30px auto 70px auto;
        justify-content: space-between;
        .article-title {
            font-weight: bold;
            font-size: 28px;
            line-height: 30px;
        }
        .love {
            font-size: 22px;
            line-height: 35px;
            color: #FF20E9;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            .love-img {
                margin: 8px 0 0 15px;
                background-image: url('../../../images/love.svg');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .qute-img {
        background-size: cover;
        background-image: url('../../../images/quote-mark.svg');
        background-repeat: no-repeat;
        width: 105px;
        height: 105px;
        margin: 0 auto;
        position: relative;
    }
    .left {
        display: flex;
        flex-direction: row;
        .profile-img {
            background-image: url('../../../images/profile.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 80px;
            height: 80px;
        }
        .writer {
            margin-left: 20px;
            .name {
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
            }
            .address {
                margin-top: 10px;
                font-size: 24px;
                line-height: 35px;
                color: #FF20E9;
            }
        }
    }
    .contact-btn {
        padding: 20px 35px;
        width: 116px;
        height: 40px;
        background: #FF20E9;
        box-shadow: 1px 10px 60px #F3C0E5;
        border-radius: 50px;
        font-weight: bold;
        font-size: 26px;
        color: #FFFFFF;
        text-align: center;
        text-transform: uppercase;

    }

    @include respondTo(ipadLandscape) {
    }

    @include respondTo(smallMobile) {
        @include article-mobile-view();
        
    }
    @include respondTo(ipadPortrait) {
        @include article-mobile-view();
    }
}