@import '../style/media-queries.scss';

@mixin article-layot-mobile-view {
    width: 100%;
    .title {
        width: auto;
        margin-left: 0;
        text-align: center;
        font-size: 32px;
    }
    .tabs-list {
        width: auto;
        margin-left: 0;
        justify-content: center;
    }
    .tab {
        padding: 7px 10px;
        font-size: 13px;
        margin: 0px 9px;
    }
}

.articles-layout {
    margin: 0 auto;
    width: 90%;
    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        // margin: 50px 0 32px 54px;
        width: 930px;
        margin: 50px auto 32px;
    }
    .tabs-list {
        margin-left: 39px;
        display: flex;
        flex-direction: row;
        width: 930px;
        margin: 0 auto;
    }
    .tabs-list :first-child {
        margin-left: 0;
    }
    .tab {
        align-self: center;
        padding: 12px 20px;
        border-radius: 3px;
        margin: 0 15px;
        color: #8A8A8A;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #B1B1B1;
        box-shadow: 0px 10px 15px rgba(248, 248, 248, 0.5);
    }
    .selected-tab {
        color: #FF20E9;
        border: 1px solid #FF4DED;
        box-shadow: 0px 15px 25px #FDEDFF;
        
    }

    @include respondTo(ipadLandscape) {
        // width: 100%;
        
        width: 740px;
        margin: 0 auto;
        .title {
            width: auto;
        }
        .tabs-list {
            width: auto
        }
    }

    @include respondTo(smallMobile) {
        @include article-layot-mobile-view();
        
    }
    @include respondTo(ipadPortrait) {
        @include article-layot-mobile-view();
    }
}







