@import '../../style/media-queries.scss';

@mixin mobile-layout {  
  .slick-next {
    background-image: url('../../images/next-mobile.svg');
    background-size: cover;
    top: 185px;
    right: 15px;
    width: 72px;
    height: 44px;
    margin-top: -50px;
  }
  .slick-prev {
    background-image: url('../../images/prev-mobile.svg');
    background-size: cover;
    top: 185px;
    margin-left: -15px;
    left: 15px;
    width: 91px;
    height: 44px;
    margin-top: -50px;
  }
}

@mixin tablet-layout {  
  .slick-next {
    right: 40px;
  }
  .slick-prev {
    left: 40px;
  }
}

.articles-viewer  {
  .slick-prev:before, .slick-next:before {
    content: none;
  }
  .slick-next, .slick-prev {
      background-image: url('../../images/arrow-next.svg');
      background-repeat: no-repeat;
      width: 15px;
      height: 26px;
      top: 44%;
  }
  .slick-prev {
      background-image: url('../../images/arrow-prev.svg');
  }
  @include respondTo(smallMobile) {
    @include mobile-layout();
  }
  @include respondTo(smallMobile) {
    @include mobile-layout();
  }
  @include respondTo(smallMobileLandscape) {
    @include tablet-layout();
  }
  @include respondTo(ipadPortrait) {
    @include tablet-layout();
  }
}