.article-box {
    width: 80%;
    margin: 0 auto;
    .article {
        background-size: cover;
        background-image: url('../../../images/article-border.svg');
        background-repeat: no-repeat;
        background-position: center;
        height: 428px;
        margin: -50px auto 0;
        padding: 50px 60px;
        .article-text {
            margin-top: 26px;
            font-size: 20px;
            line-height: 44px; 
        }
    }
    .row {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        .article-title {
            font-weight: bold;
            font-size: 28px;
            line-height: 30px;
        }
        .love {
            font-size: 22px;
            line-height: 35px;
            color: #FF20E9;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            .love-img {
                margin: 8px 0 0 15px;
                background-image: url('../../../images/love.svg');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .qute-img {
        background-size: cover;
        background-image: url('../../../images/quote-mark.svg');
        background-repeat: no-repeat;
        width: 105px;
        height: 105px;
        margin: 0 auto;
        position: relative;
    }
    .left {
        display: flex;
        flex-direction: row;
        .profile-img {
            background-image: url('../../../images/profile.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 80px;
            height: 80px;
        }
        .writer {
            margin-left: 20px;
            .name {
                font-weight: bold;
                font-size: 30px;
                line-height: 30px;
            }
            .address {
                margin-top: 10px;
                font-size: 24px;
                line-height: 35px;
                color: #FF20E9;
            }
        }
    }
    .contact-btn {
        padding: 20px 35px;
        width: 116px;
        height: 40px;
        background: #FF20E9;
        box-shadow: 1px 10px 60px #F3C0E5;
        border-radius: 50px;
        font-weight: bold;
        font-size: 28px;
        color: #FFFFFF;
    }  
}