.article-box {
    .article {
        width: 90%;
        height: 505px;
        box-shadow: 0px 20px 60px #F6F0FF;
        border: 1px solid #FF4DED;
        border-radius: 10px;
        margin: -50px auto 0;
        .love {
            display:flex;
            flex-direction: row;
            .love-img {
                background-image: url('../../../images/love.svg');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
            }
        }
    }
    .qute-img {
        background-image: url('../../../images/quote-mark.svg');
        background-repeat: no-repeat;
        width: 105px;
        height: 105px;
        margin: 0 auto;
        position: relative;
    }

    
}